extend ../layout 

block content 
    h1=title
    table.table
        thead
            tr
                th Name
                th Price
                th Actions
        tbody
            each product in products
                tr
                    td=product.name
                    td=product.price